In [1]:
from json import loads
import pandas as pd
from requests import get

In [2]:
url = 'https://safar724.com/route/getcities'
cities = loads(get(url).content)
cities = pd.json_normalize(cities)
cities

,ID,Code,Name,PersianName,ProvinceName,ProvincePersianName,SearchExpressions,IsCapital,Order
0,2176,91352025,arbabkandi,ارباب کندی,Ardabil,اردبیل,"[arbabkandi, ارباب کندی, ardabil, اردبیل, ارب...",False,0
1,13,91310000,ardabil,اردبیل,Ardabil,اردبیل,"[ardabil, اردبیل, hvnfdg, اردبيل, اردبىل, اردب...",True,1
2,333,91352000,aslanduz,اصلاندوز,Ardabil,اردبیل,"[aslanduz, اصلاندوز, ardabil, اردبیل, hwghkn,c...",False,1
3,417,91340000,bilehsavar,بیله سوار,Ardabil,اردبیل,"[bilehsavar, بیله سوار, ardabil, اردبیل, بیله...",False,1
4,226,91350000,parsabad,پارس آباد,Ardabil,اردبیل,"[parsabad, پارس آباد, ardabil, اردبیل, پارس, ...",False,1
...,...,...,...,...,...,...,...,...,...
812,579,93412000,marvast,مروست,Yazd,یزد,"[marvast, مروست, yazd, یزد, lv,sj, dcn, يزد, ى...",False,1
813,251,93370000,mehriz,مهریز,Yazd,یزد,"[mehriz, مهریز, yazd, یزد, livdc, dcn, مهريز, ...",False,1
814,158,93380000,meybod,میبد,Yazd,یزد,"[meybod, میبد, yazd, یزد, ldfn, dcn, ميبد, مىب...",False,1
815,592,93411021,herat,هرات,Yazd,یزد,"[herat, هرات, yazd, یزد, ivhj, dcn, يزد, ىزد, ...",False,1
816,25,93310000,yazd,یزد,Yazd,یزد,"[yazd, یزد, dcn, يزد, ىزد, ئزد]",True,1

In [3]:
# duplicate cities

cities[cities['PersianName'].duplicated()]

,ID,Code,Name,PersianName,ProvinceName,ProvincePersianName,SearchExpressions,IsCapital,Order
225,853,117004,vanturkey,وان,Turkey,ترکیه,"[vanturkey, وان, turkey, ترکیه, ,hk, jv;di, تر...",False,0
330,550,31391024,soltanabadekhorasan,سلطان آباد,Razavi-Khorasan,خراسان رضوی,"[soltanabadekhorasan, سلطان آباد, razavi-khora...",False,1
664,554,54350000,rudbar,رودبار,Gilan,گیلان,"[rudbar, رودبار, gilan, گیلان, v,nfhv, 'dghk, ...",False,1
705,50,81371021,nurabadelorestan,نورآباد,Lorestan,لرستان,"[nurabadelorestan, نورآباد, lorestan, لرستان, ...",False,1
815,592,93411021,herat,هرات,Yazd,یزد,"[herat, هرات, yazd, یزد, ivhj, dcn, يزد, ىزد, ...",False,1

In [13]:
cities.to_excel('city_codes.xlsx')